@import url("https://fonts.googleapis.com/css2?family=Indie+Flower");

.next:hover {
  color: rgb(85, 85, 85);
}

.animeword {
  animation: opacity 0.3s both;
  font-family: "Indie Flower", cursive;
  font-size: 2.6em;
}

.randomButton {
  left: 3%;
}

@keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.musicTitle {
  left: 8%;
}

@media only screen and (max-width: 576px) {
  .animeword {
 
    font-size: 1em;
  }

  .randomButton {
    left: 10%;
  }
  .musicTitle {
    left: 30%;
  }
}
